<style>
  body {
    background: linear-gradient(to right, rgb(28, 211, 156) 0%, #b177f7 100%);
  }
</style>
<div class="container">
  <h1 class="text-center head-text">Admin : Delete user[<%=user.uid%>]<a href="/admin/users"
      class="btn btn-dark ml-1">Admin/users<i class="fas fa-sign-out-alt ml-1"></i></a></h1>
  <% include ../partials/messages %>
  <hr class="head-hr">
  <!-- row starts -->
  <div class="row">
    <div class="col-lg-12 col-md-12 my-5">
      <!--Section: Users-->
      <form method="POST">
        <input type="hidden" name="uid" value="<%=user.uid%>">
        <section class="card mb-4">
          <div class="card-body text-center">
            <h3 class="text-danger">
              Are you sure to remove <strong><%=user.username%>'s</strong> account?
            </h3>
            <table class="table table-hover">
              <tbody>
                <!-- Looping a JSON = user -->
                <%for (var key in user) {%>
                <%if (user.hasOwnProperty(key)) {%>
                <%if (key=='member') {%>
                <tr>
                  <th scope="row" style="text-transform: capitalize"><%= 'member' %></th>
                  <td><%= member.month+" "+member.year %></td>
                </tr>
                <%}else{%>
                <tr>
                  <th scope="row"><%= key %></th>
                  <td><%= user[key] %></td>
                </tr>
                <%}}}%>
              </tbody>
            </table>
          </div>
        </section>
        <button type="submit" class="btn btn-danger mx-auto d-block">Delete</button>
      </form>
      <!--Section: Users-->

    </div>
  </div>
  <!-- row ends -->
</div>